label{
    margin-top: 20px;
    color: #ff7a0d;
    font-size: 22px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

p{
    margin-top: 20px;
    color: #ff9100;
    font-size: 24px;  
    text-shadow: 2px 2px black;
}

button{
    background-color: coral;
    width: 100px;
    font-size: 20px;
}

button:hover{
    background-color:#fbb621;
}