h3{
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 250px;
    font-size: 24px;
}

p{
    color: gray;
    font-size: 24px;
    text-align: center;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.movie {
    width: 300px;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.movie img {
    width: 250px;
    height: 350px;
    transition: .35s;
  border-radius: 10px;
background-size: cover;
}

.movie img:hover {
    transform: scale(1.1);
}