h3{
    color:rgb(252, 226, 26);
    width: 250px;
    font-size: 28px;
    text-align: center;
    line-height: 1.5em;
    text-shadow: 3px 2px 1px black;
}

p{
    color: rgba(244, 241, 194, 0.783);
    font-size: 26px;
    text-align: center;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.movie {
    width: 300px;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.movie img {
    width: 250px;
    height: 350px;
    transition: .35s;
    border-radius: 10px;
    background-size: cover;
}

.movie img:hover {
    transform: scale(1.1);
}