.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(252, 195, 26);    
}

.character {
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    height: 450px;
}

.character img {
    width: 100%;
    height: 300px;
    transition: .35s;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 5px rgb(34, 9, 83);
}

.character img:hover {
    transform: scale(1.1);
}

.character-hero {
    border: 3px solid lightgreen;
    
}

.character-villain {
   border: 3px solid lightcoral;
}

.character-neutral {
   border: 3px solid rgb(223, 240, 128);
}

h3{
    font-size: 30px;
    text-align: center;
    text-shadow: 3px 2px 2px black;
}

p{
    text-align: center;
    padding: 2px;
    font-size: 18px;
    color: #ff8400;
    text-shadow: 2px 2px 2px black;
}